<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
    id="WebApp_ID" version="6.0">
    <display-name>ShoppingWebsite</display-name>
    
    <!-- 欢迎页面 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <!-- 过滤器配置 -->
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>com.shopping.util.EncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <!-- 用户相关Servlet -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.shopping.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.shopping.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.shopping.controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.shopping.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/updateProfile</url-pattern>
    </servlet-mapping>
    
    <!-- 产品相关Servlet -->
    <servlet>
        <servlet-name>ProductListServlet</servlet-name>
        <servlet-class>com.shopping.controller.ProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductListServlet</servlet-name>
        <url-pattern>/productList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ProductDetailServlet</servlet-name>
        <servlet-class>com.shopping.controller.ProductDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailServlet</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    
    <!-- 购物车相关Servlet -->
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.shopping.controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CartListServlet</servlet-name>
        <servlet-class>com.shopping.controller.CartListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartListServlet</servlet-name>
        <url-pattern>/cartList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateCartServlet</servlet-name>
        <servlet-class>com.shopping.controller.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateCartServlet</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.shopping.controller.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/removeFromCart</url-pattern>
    </servlet-mapping>
    
    <!-- 订单相关Servlet -->
    <servlet>
        <servlet-name>CreateOrderServlet</servlet-name>
        <servlet-class>com.shopping.controller.CreateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateOrderServlet</servlet-name>
        <url-pattern>/createOrder</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderListServlet</servlet-name>
        <servlet-class>com.shopping.controller.OrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListServlet</servlet-name>
        <url-pattern>/orderList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>OrderDetailServlet</servlet-name>
        <servlet-class>com.shopping.controller.OrderDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailServlet</servlet-name>
        <url-pattern>/orderDetail</url-pattern>
    </servlet-mapping>
    
    <!-- 管理员相关Servlet -->
    <servlet>
        <servlet-name>AdminProductListServlet</servlet-name>
        <servlet-class>com.shopping.controller.AdminProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductListServlet</servlet-name>
        <url-pattern>/admin/productList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.shopping.controller.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/admin/addProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.shopping.controller.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/admin/editProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.shopping.controller.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/admin/deleteProduct</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminOrderListServlet</servlet-name>
        <servlet-class>com.shopping.controller.AdminOrderListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrderListServlet</servlet-name>
        <url-pattern>/admin/orderList</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <servlet-class>com.shopping.controller.UpdateOrderStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderStatusServlet</servlet-name>
        <url-pattern>/admin/updateOrderStatus</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SalesReportServlet</servlet-name>
        <servlet-class>com.shopping.controller.SalesReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SalesReportServlet</servlet-name>
        <url-pattern>/admin/salesReport</url-pattern>
    </servlet-mapping>
</web-app>